<div class="max-width-container">
  <h1>Visit Live: Index</h1>
  <.live_component
    module={MedcerterWeb.VisitLive.FormComponent}
    id={@visit.id || :new}
    title={@page_title}
    action={@live_action}
    visit={@visit}
  />
</div>
