<VC.medcert_card_print
  doctor={@visit.doctor}
  patient={@visit.patient}
/>
<%= for prescription <- @visit.prescriptions do %>
  <PC.prescription_card_print
    prescription={prescription}
    doctor={@visit.doctor}
    patient={@visit.patient}
  />
<% end %>
