<VC.medcert_card_print
  doctor={@visit.doctor}
  patient={@visit.patient}
  visit={@visit}
/>
<%= if @with_prescription? do %>
  <%= for prescription <- @visit.prescriptions do %>
    <PC.prescription_card_print
      prescription={prescription}
      doctor={@visit.doctor}
      patient={@visit.patient}
    />
  <% end %>
<% end %>
