<main class="print-container">
  <div class="button-list">
    <button class="button" id="back-button" phx-hook="BackButton">Back</button>
    <button class="button" id="print-button" phx-hook="PrintButton">Print</button>
  </div>
  <%= @inner_content %>
</main>
