$fg: #484b68; 
$fg-1: #939485;
$bg: #fafafa;
$bg-1: #e4e5f1;
$bg-2: #d2d3db;

$tablet: 768px;
$desktop: 1024px;
$desktop-lg: 1366px;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
