@use 'var';

.form-wrapper {
  width: 80vw;
  min-width: 360px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 16px;

  &.-fill {
    width: 100%;
  }

  &.-fit {
    width: auto;
  }
}

.form-wrapper > .title {
  width: auto;
  text-align: center;
}

.form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 12px;

  &.-full {
    width: 100%;
  }

  &.-md {
    width: 640px;
  }

  &.-lg {
    width: 960px;
  }
}

.input-group {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;

  > label, .label {
    font-size: var.$text-lg;
    font-weight: 500;
  }

  &.-inline {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 16px;

    > input {
      flex-grow: 1;
    }
  }
}

.input {
  font-size: var.$text-md;
  height: 32px;

  &.-date-select {
    display: flex;
    gap: 4px;
  }
}

.inputs-container {

  &.-horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 8px;
  }
}

.embedded-forms-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;

  > .label {
    font-size: var.$header-sm;
    font-weight: 500;
    text-align: center;
  }
}

.embedded-form {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  background: var.$bg-1;
  border-radius: 16px;

  > .embedded-form-inputs {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    gap: 16px;
  }
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;

  > .submit {
    padding: 8px 32px;
  }

  > .button {
    padding: 8px 32px;
  }

  &.-compact {
    display: inline-flex;
    width: auto;
    margin-top: 0px;
    align-items: start;
    text-align: center;
  }

  &.-absolute {
    display: relative;
  }
}

.x-button {
  display: flex;
  justify-items: center;
  align-items: center;
  background: var.$danger;
  padding: 4px;
}

.checkbox-group {
  display: flex;
  gap: 8px;
  justify-items: center;
  align-items: center;
}
