@use 'var';

.form-wrapper {
  width: 80vh;
  min-width: 360px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 16px;
}

.form-wrapper > .title {
  width: auto;
  text-align: center;
}

.form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 12px;
}

.input-group {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;

  > label {
    font-weight: 500;
  }

  &.-inline {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 16px;

    > input {
      flex-grow: 1;
    }
  }
}

.input {
  font-size: 20px;

  &.-date-select {
    display: flex;
    gap: 4px;
  }
}

.inputs-container {

  &.-horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px 12px;
}
