@use 'var';

.prescription-card {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  width: 100%;
  max-width: 21.59cm;
  min-height: calc(27.94cm / 2);
  padding: 16px;
  gap: 16px;
  break-inside: avoid;
  color: black;
}

.patient-information-container {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.patient-info-item {
  display: flex;

  > .key {
    font-weight: 700;
  }

  > .value {
    font-weight: 500;
    border-bottom: 1px solid black;
    padding: 0px 8px;
    min-width: 80px;
    flex-grow: 1;
  }
}

.patient-info-item.-long {
  min-width: 60%;
  flex-grow: 1;
}

.rx-icon {
  width: 32px;
  height: 32px;
}

.medicine-list-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  flex-grow: 1;
}

.medicine-item {
  display: grid;
  grid-template-columns: 30px auto 100px;
  grid-template-areas:
    "count name quantity"
    ". dosage .";

    > .count {
      grid-area: count;
    }

    > .name {
      grid-area: name; 
      display: flex;
      flex-flow: column nowrap;
      font-weight: 700;
    }

    > .dosage {
      grid-area: dosage; 
    }

    > .quantity {
      grid-area: quantity;
      align-self: center;
      text-align: right;
    }
}

.prescription-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  >.title {
    text-align: center;
    font-size: var.$header-xs;
    font-weight: 700;
  }


  &.-medcert {
    padding-bottom: 16px;
    border-bottom: 4px solid black;
  }
}

.contact-info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.contact-info-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: var.$text-sm;
}

.doctor-legal-info-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-self: flex-end;
}

.doctor-legal-info-container {
  display: flex;
  flex-flow: column nowrap;
  font-size: var.$text-sm;
  min-width: 250px;
}

.legal-info {
  display: flex;

  > .key {
    font-weight: 500;
  }

  > .value {
    flex-grow: 1;
    padding-left: 8px;
    border-bottom: 1px solid black;
  }
}
